---
function getSlideFromPathname(
    pathname: string | undefined
): string | undefined {
    return pathname?.split("/").at(-1);
}

function getCurrentSlide(): number {
    return Number(getSlideFromPathname(Astro.url.pathname));
}

async function getSlides() {
    return await Astro.glob("../pages/slides/*.mdx");
}

const currentSlide = getCurrentSlide();
const slides = await getSlides();
const numberOfSlides = slides.length;
const hasNext = currentSlide !== numberOfSlides;
const hasPrev = currentSlide !== 1;
const nextSlideUrl = `/slides/${currentSlide + 1}`;
const prevSlideUrl = `/slides/${currentSlide - 1}`;
---

<div>
    hello from layout!!
    <p>
        slide {currentSlide} of {numberOfSlides}
    </p>
    <slot />
    {hasPrev && <a href={prevSlideUrl}>prev</a>}
    {hasNext && <a href={nextSlideUrl}>next</a>}
    {
        slides.map((slide, index) => (
            <a href={`/slides/${index + 1}`}>
                {getSlideFromPathname(slide.url)}
            </a>
        ))
    }
</div>
